body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a7bcad; /* Set the background color to #a7bcad */
}

.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #a7bcad; /* Set the background color to #a7bcad */
    z-index: 1;
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 200px;
}

.custom-file-upload {
    display: inline-block;
    background: #e5e7d1; /* Set the background color to #e5e7d1 */
    color: #000; /* Set text color to black */
    padding: 8px 90px; /* Match the width with the drag and drop area */
    height: 20px; /* Match the height with the drag and drop area */
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Add rounded corners */
}

.custom-file-upload input {
    display: none;
}

.drag-and-drop {
    border: 2px dashed #e5ed7d1; /* Set the border color to #e5ed7d1 */
    padding: 40px;
    margin: 20px auto;
    width: 300px;
    background: #e5e7d1; /* Set the background color to #e5e7d1 */
    color: #000; /* Set text color to black */
    cursor: pointer;
    border-radius: 20px; /* Add rounded corners */
}

/* Add a line between the button and the drag and drop area */
.line-divider {
    width: 300px;
    height: 2px;
    background: #e5e7d1; /* Set the line color to #e5e7d1 */
    margin: 10px auto;
}

.logo-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

#file-info {
    margin: 20px;
    color: #333;
}
