<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Your Logo" class="logo">
    </div>
    <div class="page-container">
        <div class="file-upload-container">
            <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    <input type="file" name="file" id="file-upload" accept=".csv, .xlsx">
                    Upload File (CSV or XLSX)
                </label>
                <div class="line-divider"></div> <!-- Line divider -->
                <div id="drag-and-drop-area" class="drag-and-drop" ondrop="handleDrop(event)" ondragover="allowDrop(event)">
                    Drag & Drop CSV or XLSX Files Here
                </div>
                <button type="submit" class="custom-file-upload">Submit</button>
            </form>
        </div>
        <div id="file-info"></div>
    </div>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
